.bg {
  height: 100vh;
  background-color: #ffffff;
  background-position: center;
  /* background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png'); */
  /* background-image: url('https://www.transparenttextures.com/patterns/assault.png'); */
  /* background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png'); */
  background-image: url('../../../assets/airplane.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
